#target.messages-list{"data-message-id": "#{message.id}"}
  .messages-list--message
    .messages-list--message-name
      = message.user.name
    .messages-list--message-time
      = I18n.l(message.created_at)
  - if message.body.present?
    .messages-list--message-body
      = message.body
  - if message.image.present?
    = image_tag "#{message.image}", class: "img"
