.wrapper
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header--group
        .chat-main__header--group-name
          america
          = link_to edit_group_path(@group) do
            %input.button{type: "button",name: "edit", value: "Edit"}
      .chat-main__header--member
        MEMBER: kawashima
    .chat-main__body
      = render partial: "message"
    .chat-main__footer
      = form_for [@group, @message], html: {class: 'chat-main__footer--form'} do |f|
        = f.text_field :body, class: 'chat-main__footer--form-message', placeholder: 'type a message'
        / .form
        /   = f.label :image, class: 'form__image'
        /     = fa_icon 'picture-o', class: 'icon'
        /     = f.file_field :image, class: 'hidden'
        = f.submit type: "submit", name: "send", value: "Send", class: "chat-main__footer--input"
