!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>  true
    = javascript_include_tag 'application', 'data-turbolinks-track' =>  true
    = csrf_meta_tags
  %body
    %#notification
    %#chat-side
      %#chat-side__user
        %#chat-side__user-content
          %#chat-side__user-name
            kawashima
          %a{ href: '/groups/new', id: 'chat-side__user--new-group'}
            %i#fa.fa-pencil-square-o
              = ::before
          %a{ href: '/user/edit', id: 'chat-side__user--edit-user'}
            %i#fa.fa-cog
              = ::before
      %#chat-side__groups
        %#chat-side__groups-list
          %a{ href: '/groups/779/messages'}
            %#chat-side__group
              %#chat-side__group-name
                amerika
              %#chat-side__group-massage
                USE USA
    %#chat-main
      %#chat-main__header
        %#chat-main__header--group.clearfix
          %#chat-main__header--group-name
            poteto
          %#a{ href:'groups/782/edit', id:'chat-main__header--edit-btn'}
            edit
          = ::after
      %#chat-main__body
        %#chat-main__body--members
          "MEMBER:"
          %i
            kawashima
      %#chat-main__body--massages-list
        %#chat-main__massage.clearfix
          %#chat-main__massage-name
            kawashima
          %#chat-main__massage-time
            2018/02/12 19:38:56
          %#chat-main__massage-body
            aaa
          ::after
      %#chat-main__footer
        %#form{ id:'new massage', enctype:'multipart/form-data', action:'/groups/782/massages', accept-charset: 'UTF-8', method: 'post'}

